.app_orange_theme {
  --bg-color: #f4fbf7;
  --inverted-bg-color: #071f01;
  --primary-color: #0e7637;
  --secondary-color: #06461f;
  --inverted-primary-color: #87c0a0;
  --inverted-secondary-color: #5e816d;

  // skeleton
  --skeleton-color: #cbf6de;
  --skeleton-shadow: rgb(41 63 35);

  // code
  --code-bg: #fff;
}
